.header {
    max-width: 90%;
    margin: auto;
    font-size: 2em;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
    color: rgb(247,131,121);
    background-color: rgb(15,31,56);
    padding: 1px;
    text-align: center;
}

.main {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
    font-family: 'Livvic', sans-serif;
    color: rgb(15,31,56);
}

.content {
    padding-bottom: 7vh;
    margin-top: 5rem;
}

.about {
    max-width: 90%;
    margin: auto;
    font-size: 1.8em;
}

.image {
    float: left;
    margin: 1rem 1rem 1rem 0;
    background-color: rgb(15,31,56);
    padding: 2rem;
    max-width: 7em;
    height: auto;
    width: auto\9;
}

.para {
    text-align: justify;
    background-color: rgb(247,131,121);
    padding: 2rem;
}

.slider {
    display: flex;
    justify-content: center;
    padding: 30px 0;
}

@media (max-width: 50em) {
    .para {
        text-align: left;
    }
}