@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Livvic&display=swap');

body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
    background-color: rgb(27, 75, 90);
}

::-webkit-scrollbar {
    width: 1em;
}

::-webkit-scrollbar-track {
    margin-block: .5em;
}

::-webkit-scrollbar-thumb {
    background: rgb(15,31,56);
    border-radius: 2rem;
}
