.hero {
    font-family: 'Cantata One', serif;
    display: flex;
    align-items: center;
    
}

.heroItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-around;
    width: 70%;
    align-items: center;
    margin: auto;
}

.heroText{
    text-align: left;
    width: 60%;
}

.heroText h1 {
    font-size: 65px;
}

.heroText p {
    font-size: 30px;
}

.hero img {
    width: 40%;
    height: 60%;
}