.hero {
    font-family: 'Poppins', sans-serif;
}

.heroItems {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;
    align-items: center;
    background-color: rgb(247,131,121);
    max-width: 80vw;
    padding-block: 5rem;
    padding-inline: 5rem;
}

.heroImg {
    background-color: rgb(27,75,90);
    padding: 2rem;
    max-width: 35%;
    height: auto;
    width: auto\9;
}

.heroText {
    text-align: center;
    width: 40%;
    max-width: 50vw;
    color: rgb(15,31,56);
    padding: 5rem;
}

.heroText h1 {
    font-size: 6em;
    margin: 0;
}

.heroText h4{
    font-size: 3.5em;
    font-family: 'Livvic', 'sans-serif';
    margin: 0;
}

.heroText .bold{
    font-size: 1em;
    margin: 0;
    font-family: 'Poppins', 'sans-serif';
    background-color: rgb(15,31,56);
    color: rgb(247,131,121);
    padding: 1rem;
    -webkit-box-decoration-break: clone;
    box-decoration-break: clone;
}

@media (max-width: 50em) {
    .heroItems {
        padding: 2rem;
    }
    .heroText {
        margin: 0;
        text-align: center;
        padding: 2.3em;
        padding-right: 6em;
    }
    
    .heroText h1 {
        font-size: 3.5em;
    }
    
    .heroText h4{
        font-size: 1.5em;
        font-family: 'Livvic', 'sans-serif';
        margin: 0;
    }
    
    .heroText .bold{
        font-size: 1em;
        padding: .5rem;
    }
}