.main {
    position: relative;
    margin: 0px;
}

.content {
    scroll-behavior: smooth;
}

.section {
    padding-block: min(30vh, 10rem);
    display: flex;
    justify-content: center;
    align-items: center;
}


