.main {
    position: relative;
    margin: 0px;
}

.content {
    scroll-behavior: smooth;
}

.section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


