.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: sticky;
    top: 0;
    height: 50px;
    padding: 0 50px;
    font-family: 'Poppins', sans-serif;
    z-index: 4;
}

.link {
    text-decoration: none;
    color: rgb(247,131,121);
    font-size: 1.5em;
}

.robert {
    transform: rotate(-5deg);
    background-color: rgb(15,31,56);
    padding-inline: .5rem;
    position: relative;
    right: 1rem;
}
.lockay {
    transform: rotate(5deg);
    background-color: rgb(15,31,56);
    padding-inline: .5rem;
    position: relative;
    left: 2rem;
    bottom: .2rem;
}

@media (max-width: 50em) {
    .link {
        font-size: .8em;
    }
}