.nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: sticky;
    top: 0;
    height: 50px;
    padding: 0 50px;
    font-family: 'Poppins', sans-serif;
}

.link {
    text-decoration: none;
    color: rgb(247,131,121);
    font-size: 1.5em;
    background-color: rgb(15,31,56);
    padding: .3em;
}

.right {
    text-align: right;
}

@media (max-width: 50em) {
    .link {
        font-size: .8em;
    }
}