.main {
    position: relative;
    margin: 0;
    width: 100%;
    height: 100%;
    padding: 0;
    overflow-x: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7vh;
    margin-top: 5rem;
}

.img {
    background-color: rgb(15,31,56);
    padding: 2rem;
    max-width: 75%;
    width: auto;
    height: auto;
}

.para {
    text-align: justify;
    background-color: rgb(247,131,121);
    padding: 2rem;
    font-family: 'Livvic', 'sans-serif';
    font-size: 1.2em;
    min-width: 75%;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-inline: 2rem;
    margin: auto;
}

@media (max-width: 50em) {
    .para {
        font-size: .8em;
        text-align: left;
    }
}