.pItems {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 150px;
}

.pText {
    text-align: left;
    width: 25%;
}

.pHeader {
    font-size: 50px;
}

.pCaption {
    font-size: 20px;
}

