

.arrowRight {
    position: absolute;
    translate: 0 -600%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
    visibility: hidden;
    color: white;
    right: 5px;
}

.arrowLeft {
    position: absolute;
    translate: 0 -600%;
    border-radius: 100%;
    background-color: rgba(0, 0, 0, .3);
    cursor: pointer;
    visibility: hidden;
    color: white;
    left: 75px
}

.slider:hover .arrowLeft {
    visibility: visible;
}

.slider:hover .arrowRight {
    visibility: visible;
}

.sliderBorder {
    height: 415px;
    width: 615px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sliderObject {
    position: absolute;
    top: 16px;
    left: 12px; 
    height: 387px;
    width: 583px;
}