.main {
    position: relative;
    margin: 0;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 7vh;
    margin-top: 5rem;
}

.img {
    background-color: rgb(15,31,56);
    padding: 2rem;
    max-width: 100%;
    width: auto;
    height: auto;
}

.para {
    text-align: justify;
    background-color: rgb(247,131,121);
    padding: 2rem;
    font-family: 'Livvic', 'sans-serif';
    font-size: 1.2em;
}

.section {
    display: flex;
    flex-direction: column;
    margin-inline: 2rem;
}
